ALTER PROCEDURE [dbo].[sp_asociar_deduccion_simulacion](
		@inIdUsuarioAsociar INT,
		@inIP VARCHAR(64),
		@inIdTipoDeduccionAsociar INT,
		@inValorEmpleadoDocAsociar VARCHAR(64),
		@inMontoAsociar DECIMAL(15,5),
		@inFechaAsociar DATE,
		@outResultCode INT
)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		DECLARE @empleadoId INT;

		SELECT @empleadoId = E.Id
		FROM dbo.Empleado AS E
		WHERE E.ValorDNI = @inValorEmpleadoDocAsociar;

		DECLARE @FlagObligatorio BIT,
				@FlagPorcentual BIT;

		SELECT @FlagObligatorio = D.FlagObligatorio,
			   @FlagPorcentual = D.FlagPorcentual
		FROM dbo.TipoDeduccion AS D 
		WHERE D.Id = @inIdTipoDeduccionAsociar;

		DECLARE @ParametrosBitacora NVARCHAR(MAX);
		DECLARE @jsonEventLog NVARCHAR(MAX);

		IF (@FlagObligatorio = 0 AND @FlagPorcentual = 0)
		BEGIN
			INSERT INTO dbo.EmpleadoXTipoDeduccion(IdEmpleado, IdTipoDeduccion)
			VALUES (@empleadoId, @inIdTipoDeduccionAsociar);

			DECLARE @id INT = SCOPE_IDENTITY();

			INSERT INTO dbo.EmpleadoXTipoDeduccionNoObligatoria(idEmpleadoXTipoDeduccion, FechaIni)
			VALUES (@id, @inFechaAsociar);

			INSERT INTO dbo.EmpleadoXTipoDeduccionNoObligatoriaNoPorcentual(idEmpleadoXTipoDeduccionNoObligatoria, Valor)
			VALUES (@id, @inMontoAsociar);


			SET @ParametrosBitacora = 
			'{
				"EmpleadoId": ' + CAST(@empleadoId AS VARCHAR) + ',
				"TipoDeduccionId": ' + CAST(@inIdTipoDeduccionAsociar AS VARCHAR) + ',
				"EsFija": "SI",
				"Valor": "' + CAST(@inMontoAsociar AS VARCHAR) + '",
				"Fecha": "' + CONVERT(VARCHAR(10), @inFechaAsociar, 120) + '"
			}';
		END

		IF (@FlagObligatorio = 0 AND @FlagPorcentual = 1)
		BEGIN
			INSERT INTO dbo.EmpleadoXTipoDeduccion(IdEmpleado, IdTipoDeduccion)
			VALUES (@empleadoId, @inIdTipoDeduccionAsociar);

			DECLARE @valorPorcentaje DECIMAL(15,5);

			SELECT @valorPorcentaje = TDP.ValorPorcentaje
			FROM dbo.TipoDeduccionPorcentual AS TDP
			WHERE TDP.IdTipoDeduccion = @inIdTipoDeduccionAsociar;

			SET @ParametrosBitacora = 
			'{
				"EmpleadoId": ' + CAST(@empleadoId AS VARCHAR) + ',
				"TipoDeduccionId": ' + CAST(@inIdTipoDeduccionAsociar AS VARCHAR) + ',
				"EsPorcentual": "SI",
				"Valor": "' + CAST(@valorPorcentaje AS VARCHAR) + '",
				"Fecha": "' + CONVERT(VARCHAR(10), @inFechaAsociar, 120) + '"
			}';
		END

		-- Registrar en EventLog
		EXEC dbo.sp_generar_json
			@inIdUsuario = @inIdUsuarioAsociar,
			@inIP = @inIP,
			@inIdTipoEvento = 8,
			@inFecha= @inFechaDesasociar,
			@inDetalle = 'Asociación de deduccion exitosa',
			@inParametros = @ParametrosBitacora,
			@inDatosAntes = NULL,
			@inDatosDespues = NULL,
			@outJson = @jsonEventLog OUTPUT;

		INSERT INTO dbo.EventLog (ArchivoJSON, IdTipoEvento)
		VALUES (@jsonEventLog, 8);

		SET @outResultCode = 0;
	END TRY
	BEGIN CATCH
		SET @outResultCode = 5008;

		INSERT INTO dbo.DBErrors (
			UserNombre
			, Numero
			, Estado
			, Severidad
			, Linea
			, ProcedureError
			, Mensaje
		)
		VALUES (
			SUSER_NAME()
			, ERROR_NUMBER()
			, ERROR_STATE()
			, ERROR_SEVERITY()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, ERROR_MESSAGE()
		);
	END CATCH

	SET NOCOUNT OFF;
END
